{{#modal-dialog action="close" opening='opening' closing='closing' full_stretch=true}}
  <div class="modal-body">
    <iframe src={{launch_url}} frameborder=0 style='width: 100%; height: 85vh;'></iframe>
  </div>
{{/modal-dialog}}
