*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

#header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  background: #444;
  color: #fff;
  padding: 0;
  z-index: 2;
  box-shadow: 0 2px 10px #000;
  form.navbar-form {
    padding-top: 2px;
  }
  nav {
    border: 0;
    background: #444;
    padding: 0;
  }
  #title a {
    color: #fff;
    font-weight: bold;
  }
  a {
    color: #d9edf7;
  }
  .results {
    position: absolute; 
    bottom: -45px; 
    left: 10px; 
    width: 160px; 
    height: 35px; 
    padding: 5px; 
    background: #fff; 
    border: 1px solid #000; 
    text-align: center; 
    color: #888; 
    border-radius: 3px; 
    z-index: 3;
  }
}

#sidebar {
  position: fixed; 
  left: 0; 
  top: 50px; 
  bottom: 0; 
  background: #eee; 
  padding: 20px 0;
  box-shadow: 2px 0 10px #000;
  li {
    margin-top: 0;
  }
  li>a {
    border-radius: 0;
    font-size: 16px;
    border-top: 1px solid #ddd;
    &.active {
      background: #337ab7;
      color: #fff;
    }
  }
  li:first-child>a {
    border-top: 0;
  }
  li:last-child>a {
    /* border-bottom: 1px solid #ddd; */
  }
}

.main-container {
  margin-top: 55px;
  min-height: calc(100vh - 120px);
}

.fit_image {
  object-fit: contain;
  object-position: center;
}

.pad_color_box {
  padding-left: 40px;
}

.color_box {
  display: inline-block;
  border: 1px solid #000;
  border-radius: 3px;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-left: -5px;
  margin-right: 5px;
}

.modal-footer {
  text-align: left;
}

.modal-header {
  padding: 0 20px;
  .close {
    font-size: 50px;
  }
}

.image_result {
  img {
    width: 100%;
  }
  border: 1px solid #ccc;
  display: inline-block;
  width: calc(25% - 10px);
  border-radius: 3px;
  padding: 2px;
  margin: 3px;
}
.nav-pills.all_border {
  li a {
    border: 1px solid #337ab7;
    margin-right: 2px;
  }
}
.categories {
  .label {
    font-weight: normal;
    font-size: 16px;
    padding: 10px 15px;
    margin-right: 3px;
  }
  .comma {
    display: none;
  }
}
.revision {
  background: #f7e667;
  border-radius: 5px;
  min-height: 45px;
  margin-bottom: 3px;
  .accept_revision {
    position: absolute;
    top: 5px;
    right: 5px;
  }
}
.list-group.pills {
  margin-top: 20px;
  .list-group-item {
    margin-bottom: 15px;
    border-radius: 20px;
    background: #d9edf7;
    border: 2px solid #337ab7;
    text-align: center;
    font-size: 20px;
    &:hover {
      background: #337ab7;
      border-color: #225895;
      color: #fff;
    }
  }
}
.categories {
  margin: 20px 0 40px;
  display: block;
  .pill {
    margin: 10px 2px 10px 0;
    
    border-radius: 20px;
    background: #d9edf7;
    border: 2px solid #337ab7;
    text-align: center;
    font-size: 20px;
    padding: 10px 20px;
    &:hover {
      background: #337ab7;
      border-color: #225895;
      color: #fff;
      text-decoration: none;
    }
  }
}
.box {
  .left, .right {
    float: left; width: 60px;
  }
  .middle {
    float: left; 
    width: calc(100% - 130px); 
    margin: 0 5px; 
    height: 100%;
  }
  .entry {
    border: 1px solid #ccc; 
    padding: 5px; 
    height: 100%;
  }
  .blank_entry {
    width: 100%; 
    height: 80px; 
    border: 1px solid #ccc; 
    text-align: center; 
    padding-top: 2px;
  }
  .entry_description {
    font-size: 12px; 
    color: #888;
  }
  &.fullscreen {
    width: 100vw;
    height: 100vh;
    padding: 10px;
    .left, .right {
      width: 120px;
      font-size: 20px;
      button.btn {
        font-size: 25px;
        height: 70px;
      }
    }
    .middle {
      width: calc(100% - 250px);
      font-size: 40px;
    }
  }
}
.box.image {
  position: relative; 
  padding-right: 40px; 
  display: inline-block;
  button {
    top: 0px;
    right: 0px;
    position: absolute;
  }
  &.fullscreen {
    padding-right: 90px;
    overflow: hidden;
    .sub {
      margin-top: 10vh;
      margin-left: 10vw;
      text-align: center;
    }
    button {
      font-size: 50px;
      top: 10px;
      right: 10px;
    }
  }
}

.rule_code {
  font-family: Courier;
}

.face_button {
  font-size: 12px;
  line-height: 12px;
  width: 100%; 
  white-space: normal;
  .face {
    display: block;
    margin: 0 auto 5px;
    width: 30px;
    height: 30px;
    background-image: url(/images/faces.png);
    background-size: auto 30px;
    &.happy {
      background-position-x: -30px;
    }
    &.neutral {
      background-position-x: -59px;
    }
    &.sad {
      background-position-x: -89px;
    }
  }
}
.dim_until_hover {
  .glyphicon {
    opacity: 0.7;
  }
  &:hover .glyphicon {
    opacity: 1.0;
  }
}

@media (max-width: 767px) {
  #header {
    form.navbar-form {
      padding-top: 15px;
      .form-group {
        display: inline-block;
        width: 300px;
      }
    }
    .results {
      position: initial;
    }
  }
}